body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial,
    sans-serif;
  background-image: url('images/table.png');
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: goldenrod;
}

.main-container {
  display: flex;
  flex-direction: column;
  justiy-content: center;
  align-items: center;
  margin-top: 100px;
}

.main-content {
  width: 50%;
  max-width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

#message-el {
  font-style: italic;
}

.player,
.dealer {
  border: 1px solid white;
  padding: 15px 15px 15px 15px;
  margin: 15px;
  background-color: #eeeeee20;
}

#player-sum-el {
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}
